---
import Navigation from '../components/navigation';
import Hero from '../components/hero.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="min-h-screen bg-[#F0F0FF]">
      <Navigation client:load />
	  <Hero/>
	 </main>
</Layout>
