<section class="relative overflow-hidden p-48 text-white">
    <img 
    src="https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1.webp" 
    loading="lazy" 
    width="2800" 
    height="1867" 
    alt="" 
    srcset="https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1-p-500.webp 500w, https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1-p-800.webp 800w, https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1-p-1080.webp 1080w, https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1-p-1600.webp 1600w, https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1-p-2000.webp 2000w, https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1-p-2600.webp 2600w, https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1.webp 2800w" 
    sizes="(max-width: 2800px) 100vw, 2800px" 
    class="object-cover h-full w-full inset-0 absolute"
    style="object-position: 50% 33%"
    />
    <div class="px-8">
        <div class="w-full mx-auto max-w-3xl">
            <div class="text-center items-center justify-between flex-col gap-6 w-full flex relative mx-auto max-w-[64rem]">
                <h2 class="text-6xl leading-none font-normal my-0">Your expertise has always been your edge.</h2>
                <div class="flex items-center justify-center">
                    <a class=" bg-[#00003d] rounded-full py-3 px-6 inline-block">
                        <div class="font-semibold text-xl" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                            Get Started
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>