<section class="relative overflow-hidden px-0 md:px-48 py-16 md:py-40 text-white">
    <img 
    src="https://cdn.prod.website-files.com/687904fb2b26c434698c47e9/68beb37f210630a32db2e951_temp-stock-1.webp" 
    loading="lazy" 
    alt=""  
    class="object-cover h-full w-full inset-0 absolute "
    style="object-position: 50% 33%"
    />
    <div class="px-2">
        <div class="w-full mx-aut max-w-3x">
            <div class="text-center items-center justify-center flex-col gap-6 w-full flex relative mx-auto max-w-[64rem]">
                <h2 class="text-2xl sm:text-4xl md:text-6xl leading-none font-normal my-0">The Multilingual Customer experience Transformation Partner</h2>
                <div class="flex items-center justify-center">
                    <a href="/company/contact" class="bg-[#00003d] rounded-full py-3 px-6 inline-block">
                        <div class="font-semibold text-base md:text-xl" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                            Get Started
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>