---
    import { Award, BadgePercent, CircleStar  } from "lucide-react";
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">


<div class="mx-auto max-w-2xl lg:max-w-none">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div class="flex" style="opacity: 1; transform: none;">
            <article class="relative flex w-full flex-col rounded-3xl p-6 ring-1 ring-neutral-950/5 transition hover:bg-neutral-50 sm:p-8">
                <h3>
                    <a href="/work/family-fund">
                        <span class="absolute inset-0 rounded-3xl"></span>
                        <BadgePercent className="size-7"/>
                    </a>
                </h3>
                <p class="mt-6 flex gap-x-2 text-sm text-neutral-950">
                    <time datetime="2023" class="font-semibold">2023</time>
                    <span class="text-neutral-300" aria-hidden="true">/</span>
                    <span>Compliance</span>
                </p>
                <p class="mt-6 font-display text-2xl font-semibold text-neutral-950">GDPR Compliant</p>
                <p class="mt-4 text-base text-neutral-600">
                    Your European data is protected according to the world's strictest privacy standards
                </p>
            </article>
        </div>
        <div class="flex" style="opacity: 1; transform: none;">
            <article class="relative flex w-full flex-col rounded-3xl p-6 ring-1 ring-neutral-950/5 transition hover:bg-neutral-50 sm:p-8">
                <h3>
                    <a href="/work/unseal"><span class="absolute inset-0 rounded-3xl"></span>
                        <Award className="size-7"/>
                    </a>
                </h3>
                <p class="mt-6 flex gap-x-2 text-sm text-neutral-950">
                    <time datetime="2022" class="font-semibold">2022</time>
                    <span class="text-neutral-300" aria-hidden="true">/</span>
                    <span>Compliance</span>
                </p>
                <p class="mt-6 font-display text-2xl font-semibold text-neutral-950">HIPAA Compliant</p>
                <p class="mt-4 text-base text-neutral-600">Healthcare information stays secure and confidential, period.</p>
            </article>
        </div>
        <div class="flex" style="opacity: 1; transform: none;">
            <article class="relative flex w-full flex-col rounded-3xl p-6 ring-1 ring-neutral-950/5 transition hover:bg-neutral-50 sm:p-8">
                <h3>
                    <a href="/work/phobia">
                        <span class="absolute inset-0 rounded-3xl"></span>
                        <CircleStar className="size-7"/>
                </h3>
                <p class="mt-6 flex gap-x-2 text-sm text-neutral-950">
                    <time datetime="2022" class="font-semibold">2022</time>
                    <span class="text-neutral-300" aria-hidden="true">/</span>
                    <span>Compliance</span>
                </p>
                <p class="mt-6 font-display text-2xl font-semibold text-neutral-950">
                PCI-DSS Certified
                </p>
                <p class="mt-4 text-base text-neutral-600">
                    Payment data handled with the security protocols financial institutions require
                </p>
                </article>
            </div>
        </div>
    </div>

    </div>