<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-24 sm:pt-32 lg:pt-40">
<div class="mx-auto max-w-2xl lg:max-w-none">
  <div class="max-w-2xl" style="opacity: 1; transform: none;">
    <h2>
      <span class="block font-display tracking-tight text-balance text-4xl font-medium sm:text-5xl text-neutral-950">We Take Your Data and Compliance Seriously</span>
    </h2>
    <div class="mt-6 text-xl text-neutral-600">
      <p>
         Here's what matters: if you're in healthcare, legal, government, or any industry where data protection isn't optional we've got you covered. 
        </p>
      </div>
    </div>
</div>
</div>